@model IEnumerable<SampleProject.DTOs.OrderDTO>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData["Msg"] != null)
{
    <span class="alert-primary">@TempData["Msg"]</span>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            @if (item.Status.Equals("Pending"))
            {
                <td>
                    <a href="" class="btn btn-success">Accept</a>
                    <a href="/admin/decline" class="btn btn-danger">Decline</a>


                </td>
            }

            <td>
                <form action="/Admin/Od" method="get">
                    <input type="hidden" name="Id" value="@item.Id" />
                    <input type="submit" value="Details" class="btn btn-success" />
                </form>
            </td>
        </tr>
    }

</table>
