
@{
    ViewBag.Title = "HELLOS";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2></h2>
<span>
@if (TempData["msg"] != null)
{
    <span class="alert-success">@TempData["msg"]</span>
}

</span>

<h1>@Model.Title</h1>

<h2>Posted On: @Model.PostTime</h2>

<p>Post ID: @Model.PostContent</p>



<td>
    <form action="/Post/Like" method="post">
        <input type="hidden" name="Id" value="@Model.id" />
        <input type="submit" value="Like" class="btn btn-success" />
    </form>



    @if (Model.Comments.Count > 0)
    {
        <h5>Comments</h5>
        <ul>
            @foreach (var item in Model.Comments)
            {
                <li>@item.CommentBody</li>


            }
        </ul>

    }
    else
    {
        <h5>No Comments</h5>
    }

    <h3>Leave a Comment</h3>





    <div class="container">
        <form action="/Post/AddComment" method="post" class="form-horizontal">
            <h4>CommentDTO</h4>
            <hr />
            <input type="hidden" id="Id" name="Id" value="" />
            <input type="hidden" id="PId" name="PId" value="@Model.id" />

            <div class="form-group">
                <label for="CommentBody" class="control-label col-md-2">Comment Body</label>
                <div class="col-md-10">
                    <textarea id="CommentBody" name="CommentBody" class="form-control"></textarea>
                    <span class="text-danger">
                        Validation message for CommentBody can be placed here
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Comment" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
