@model IEnumerable<DemoBlog2.DTOs.PostDTO>

@{
    ViewBag.Title = "ViewPost";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>ViewPost</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditPost", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>*@
<table class="table table-bordered">
    <tr>
        <th>Title</th>
        <th>Posted On</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><a href="/Post/Comments/@item.id">@item.Title</a></td>
            <td>@item.PostTime</td>
        </tr>
    }
</table>